#important
node_modules/
dist/
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build artifacts
dist/
dist-ssr/

# Local environment files
*.local
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp
*.cache

# System files
Thumbs.db
Desktop.ini

# Debugging files
*.stackdump
*.pid

# Optional npm and Yarn files
.package-lock.json
.pnp.js
.pnp.cjs

# Optional build outputs
out/
build/

# Coverage files
coverage/
.nyc_output/

# Test-related files
.junit-report.xml
